<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gt.iot.wlw.flink.dao.WlwMsgMapper">

	<resultMap id="BaseResultMap" type="gt.iot.wlw.flink.entity.WLwMsg">
		<result column="THEME" jdbcType="VARCHAR" property="theme" />
		<result column="WLWMSG" jdbcType="VARCHAR" property="wlwMsg" />
	</resultMap>

	<insert id="insertWlwMsg" parameterType="gt.iot.wlw.flink.entity.WLwMsg" >
		insert into wlwmsg(THEME,WLWMSG)
		values
		(
		 #{theme} ,#{wlwMsg}
		)
	</insert>

	 <select id="selectMsg" resultType="java.util.HashMap" >
		select topic from wlwmsg
	</select>


</mapper>