<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gt.iot.wlw.flink.dao.WlwMsgMapper">

<!--	<resultMap id="BaseResultMap" type="gt.iot.wlw.flink.entity.WLwMsg">-->
<!--		<result column="time" jdbcType="TIMESTAMP" property="time" />-->
<!--		<result column="theme" jdbcType="VARCHAR" property="theme" />-->
<!--		<result column="wlwMsg" jdbcType="VARCHAR" property="wlwMsg" />-->
<!--	</resultMap>-->

	<insert id="insertWlwMsg">
		insert into wlwmsg(time,theme,message)
		values
		(
		 now, #{theme} ,#{wlwMsg}
		)
	</insert>

	 <select id="selectMsg" >
		select wlwmsg from wlwmsg where theme = '1'
	</select>


</mapper>